/* CSS Reset */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Zilla+Slab+Highlight&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

:root {
  /* Color Palette */
  --light-purple: #bda4ee;
  --dark-purple: #554a6b;
  --light-grey: #e9e8eb;
  --medium-grey: #b6b6b8;
  --dark-grey: #6a6a6b;
  /* Padding */
  --padding-sm: 20px;
  --padding-md: 40px;
  --padding-lg: 60px;
  /* Border Radius */
  --border-sm: 15px;
  /* Font Sizes */
  --xs-font: 12px;
  --sm-font: 18px;
  --md-font: 24px;
  --lg-font: 32px;

  /*Font Weights*/
  --thinnest-font: 100;
  --thinner-font: 200;
  --thin-font: 300;
  --lightest-font: 400;
  --lighter-font: 500;
  --light-font: 600;
  --heavy-font: 700;
  --heavier-font: 800;
  --thickest-font: 900;
  /* Box Shadows */
  --shadow-light: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Main Components */
#container {
  width: 100vw;
  height: 100vh;
  /* background-color: var(--light-purple); */ /* change eventually */
  display: grid;
  color: rgb(237, 159, 118);
  grid-template-columns: 200px 20px 350px 20px auto 20px;
  grid-template-rows: auto repeat(11, 65px) auto;
}

#sidebar {
  grid-column: 1;
  grid-row: 1 / span 13;
  background-color: #fff;
  box-shadow: var(--shadow-md);
  border-radius: 2px;
  background-color: var(--medium-grey);
  border-right: 2px solid#aaf8fe;
  background-color: #233954;
}

#namebox {
  grid-column: 3;
  grid-row: 2;
  background-color: #fff;
  font-size: var(--sm-font);
  line-height: 60px;
  text-align: center;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-sm);
  line-height: 25px;
  padding: 6px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: #36393f;
  border: solid 2px #aaf8fe;
  color: white;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#weatherbox {
  background-color: white;
  grid-column: 3;
  grid-row: 4 / span 4;
  box-shadow: var(--shadow-md);
  text-align: center;
  padding: 10px;
  position: relative;
  border-radius: var(--border-sm);
  background-color: #36393f;
  border: solid 2px #aaf8fe;
  color: white;
}

#quotebox {
  background-color: #fff;
  grid-column: 3;
  padding-top: 7px;
  padding: 30px;
  grid-row: 9 / span 4;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-sm);
  text-align: center;
}

#todolist {
  background-color: #fff;
  grid-column: 5;
  grid-row: 2 / span 11;
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: 1;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-sm);
  padding: var(--padding-sm);
}

/* Sidebar Components */

.main {
  font-size: var(--md-font);
  padding: 10px;
}
.main:hover {
  cursor: pointer;
}
main:active {
  background-color: yellow;
}

#projectsubmit {
}

.bookInput {
  background-color: #3ff;
}

.projecttitles {
  font-size: var(--md-font);
  padding: 10px;

  background-size: 50px;
}
.projecttitles:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}

.active {
  background-color: var(--light-grey);
}

.exit {
  background-image: ;
}

/* To Do List Components */

#todotitle {
  grid-row: 1;
  display: flex;
  font-size: var(--md-font);
}

#project-name {
  grid-row: 1;
}

.info-container {
  display: flex;
  width: 90%;
  grid-column: 1 / span 2;
  margin: auto;
  height: 80px;
}

#priority {
}

#todoadd {
  grid-row: 2;
  width: 50px;
  height: 40px;
}

.fa-plus-square {
  font-size: 30px;
}

.task-input {
  grid-row: 2;
  width: 30%;
  height: 50%;
}

.date {
  width: 30%;
  grid-row: 2;
  height: 50%;
}

#priority {
  width: 30%;
  height: 50%;
  grid-row: 2;
}

.ls-todos {
  grid-row: 3 / span 8;
  grid-column: 1 / span 2;
  line-height: 40px;
  width: 100%;
}

.list-styling {
  background-color: white;
  color: var(--dark-purple);
  border: 0.2px solid grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
}
.list-styling:hover {
  background-color: var(--light-grey);
  color: black;
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#icons {
  display: flex;
  width: 20%;
  color: var(--dark-purple);
}

.ex {
  margin-right: 10px;
  border: none;
  background-color: white;
}

.edit {
  border: none;
  background-color: #fff;
}

.dueDate {
  font-size: var(--xs-font);
}

.priorityLevel {
  color: red;
}

#radio {
  color: yellow;
  margin-top: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;
}

input[type="radio"]:hover {
  box-shadow: 0 0 5px 0px orange inset;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: teal;
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  height: auto;
  width: 80%; /* Could be more or less, depending on screen size */
  display: grid;
  flex-direction: column;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, 30px);
}

/* The Close Button */
.close {
  color: #ada;
  float: left;
  font-size: 28px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-submit {
  border: 1px solid black;
  cursor: pointer;
}

.task-modal {
  height: 20px;
  grid-column: 2;
  grid-row: 2;
}

.date-modal {
  grid-column: 2;
  grid-row: 4;
}

.date-div {
  grid-row: 4;
}

.prio-modal {
  height: 50px;
  grid-column: 2;
  grid-row: 4;
}

.modal-submit {
  width: 80px;
  text-align: center;
  background-color: var(--dark-purple);
  color: white;
  margin-top: 10px;
  grid-column: 2;
  grid-row: 5;
}

.modal-content > input {
  width: 40vw;
}

.task-label {
  grid-column: 1;
  grid-row: 2;
}

.date-label {
  grid-column: 1;
  grid-row: 3;
}

.prio-label {
  grid-column: 1;
  grid-row: 4;
}

.date-div {
  grid-column: 2;
  grid-row: 3;
}

#high-prio {
  background-color: red;
}

#med-prio {
  background-color: yellow;
}

#low-prio {
  background-color: purple;
}

.prioField {
  grid-column: 2;
  height: 100px;
}

/* Weather Components */

#weather-title {
  font-size: var(--md-font);
}

#zip-code {
  width: 80px;
  height: 40px;
  margin-top: 50px;
  text-align: center;
}

#zip-code-2 {
  position: absolute;
}

#zipbutton {
  margin-top: var(--padding-sm);
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 75%;
  border-radius: 10px;
  border: 1px solid var(--dark-purple);
  height: 40px;
  background-color: var(--dark-purple);

  color: var(--light-purple);
}

.weather-icon {
  text-align: center;
  display: flex;
  justify-content: center;
}
.icon {
  position: absolute;
  bottom: 100px;
  margin: auto;
  z-index: 1;
}

.weather-info {
  margin-top: 85px;
  z-index: 2;
}

/* Quote Components */

.due-title {
  font-size: var(--md-font);
}

#quote {
  font-size: var(--md-font);
}

#author {
}
